@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 960px;
}
@media only screen and (min-width: 1440px) {
  .container {
    width: 70%;
  }
}
@media only screen and (max-width: 960px) {
  .container {
    width: 95%;
  }
}
input.visited,
select.visited {
  @apply border-black;
  @apply text-black;
}
